---
import Layout from "@/layouts/Layout.astro"
import { ForgotPasswordForm } from "@/components/auth/ForgotPasswordForm"
---

<Layout title="Forgot Password - CardStrike">
  <div class="container flex h-screen w-screen flex-col items-center justify-center">
    <ForgotPasswordForm client:load />
  </div>
</Layout> 