---
import Layout from "@/layouts/Layout.astro"
import { LoginFormWrapper } from "@/components/auth/LoginFormWrapper"
---

<Layout title="Sign in - CardStrike">
  <div class="container flex flex-1 items-center justify-center p-4">
    <LoginFormWrapper client:only="react" />
  </div>
</Layout> 