---
import Layout from "@/layouts/Layout.astro";
import { RegisterForm } from "@/components/auth/RegisterForm";
---

<Layout title="Sign up - CardStrike">
  <div class="container flex flex-1 items-center justify-center p-4">
    <RegisterForm client:load />
  </div>
</Layout>
