---
import Layout from "@/layouts/Layout.astro"
import { ResetPasswordForm } from "@/components/auth/ResetPasswordForm"
---

<Layout title="Reset Password - CardStrike">
  <div class="container flex h-screen w-screen flex-col items-center justify-center">
    <ResetPasswordForm client:load />
  </div>
</Layout> 